<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nickname</key>
		<string>yangna988</string>
		<key>rating</key>
		<string>9.0</string>
		<key>content</key>
		<string>环境不错，东西也好</string>
		<key>name</key>
		<string>土大力</string>
		<key>time</key>
		<string>2015－08-04 09:05:27</string>
	</dict>
    <dict>
        <key>nickname</key>
        <string>lwz1260270</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>好好好好好好</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:28</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>charmingoddess</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>很好，很不错</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:32</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>灭锑号</string>
        <key>rating</key>
        <string>9.0</string>
        <key>content</key>
        <string>环境不错，东西也好</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:35</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>灭锑号</string>
        <key>rating</key>
        <string>9.0</string>
        <key>content</key>
        <string>环境不错，东西也好</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:35</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>王清田</string>
        <key>rating</key>
        <string>8.0</string>
        <key>content</key>
        <string>好吃</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:37</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>机器斗士</string>
        <key>rating</key>
        <string>8.0</string>
        <key>content</key>
        <string>很不错</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:38</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>charmingoddess</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>很好吃</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:39</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>望远镜旁的猫</string>
        <key>rating</key>
        <string>9.0</string>
        <key>content</key>
        <string>好好好好好好！</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:05:40</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>冰玲·紫雪</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>物超所值</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:06:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>Roff7th</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>东西很好</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:07:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>Roff7th</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>还想再吃</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:08:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>Vrancaleone</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>还想再吃</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:08:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>22我汗22</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>我要吃</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:25:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>sunny晓娜</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>哈哈哈哈哈</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:26:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>楼椅</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>加油！</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:27:27</string>
    </dict>
    <dict>
        <key>nickname</key>
        <string>看电影真的好贵</string>
        <key>rating</key>
        <string>10.0</string>
        <key>content</key>
        <string>很不错</string>
        <key>name</key>
        <string>土大力</string>
        <key>time</key>
        <string>2015－08-04 09:28:27</string>
    </dict>
</array>
</plist>
